1.消息体加入版本号，可以通过版本号对消息做特殊处理。比如：忽略某个版本的消息。
2.动态下发消费者生产者的配置。比如：动态增加Broker机器，生产者消费者可以动态感知。
3.消息事物处理。比如：订单系统需要将订单消息分别发送到库存系统，搜索系统，支付系统。如果其中某一步异常，回滚此消息。
4.发送失败的消息处理。比如：订单系统生成一笔订单，发送给其他系统时发生异常或者其他系统消费某一订单消息时异常，需要将消息丢到重试系统，以可配置的方式设置重试策略。
5.测试github权限
